body{
    background-color: #002050;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.divider{
    border: 1px solid whitesmoke;
    width: 90%;
    margin: 1vh 5%;
}

h1{
    text-align: center;
    margin: 2vh 0;
}

.quote-box{
    width: 40%;
    height: 40%;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quotationmark:first-of-type{
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 10%);
    margin: 0;
    margin-left: 2%;
    font-family: "Times New Roman", Times, serif;
}

.quotationmark:not(:first-of-type){
    font-size: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(10%, 10%);
    margin: 0;
    margin-right: 2%;
    text-align: right;
    font-family: "Times New Roman", Times, serif;
}

#quote{
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

#authordate{
    position: absolute;
    right: 0;
    bottom: -10%;
    text-align: right;
    margin: 0;
}