<div class="header-loaded-div" style="display: none;"></div>
<a class="logo-anchor navbar" href="/index.html">
    <div class="logo-container">
        <img class="logo" src="/images/addram-logo.png" alt="AdditionalRAM Logo" />
        <img class="logo logotext" src="/images/addram-text.png" alt="AdditionalRAM Logo Text" />
    </div>
</a>
<nav>
    <ul id="header-desktop-navbar">
        <li><a class="navbar" href="/index.html">Home</a></li>
        <li><a class="navbar" href="/rpp/index.html">RAM++</a></li>
        <li><a class="navbar" href="/portfolio/index.html">Portfolio</a></li>
        <li><a class="navbar" href="/contact/index.html">Contact</a></li>
        <li>
            <a class="navbar" id="darkmode">
                <img class="dark-mode-icon mode-icon-enabled" src="/images/icons/dark-mode.svg" alt="dark">
                <img class="light-mode-icon mode-icon-disabled" src="/images/icons/light-mode.svg" alt="dark">
            </a>
        </li>
    </ul>
    <ul id="header-mobile-extendbutton"></ul>
</nav>