<div class="header-loaded-div" style="display: none;"></div>
<a class="logo-anchor navbar" href="/index.html">
    <div class="logo-container">
        <img class="logo" src="/images/addram-logo.png" alt="AdditionalRAM Logo" />
        <img class="logo logotext" src="/images/addram-text.png" alt="AdditionalRAM Logo Text" />
    </div>
</a>
<nav>
    <ul>
        <li><a class="navbar" href="/index.html">Home</a></li>
        <li><a class="navbar" href="/rpp/index.html">RAM++</a></li>
        <li><a class="navbar" href="/projects/index.html">Projects</a></li>
        <li><a class="navbar" href="/contact/index.html">Contact</a></li>
        <li><a class="navbar" id="darkmode">Dark</a></li>
    </ul>
</nav>