:root {
    --background-color1: #000033;
    --background-color2: #000022;
    --accent-blue: #0074E4;
    --accent-green: #006400;
    --accent-lime: #7FFF00;
    --text-color: #F0F0F0;

    --dc-bg-dark: #23272A;
    --dc-bg-light: #2C2F33;
    --dc-lightgray: #99AAB5;
    --dc-white: #FFFFFF;
    --dc-blurple: #7289DA;
    --dc-green: #57F287;
    --dc-green-darker: #49CC72;
}