@use "sass:meta";
@use "colors.scss";

@font-face {
    font-family: VT323;
    src: url('../fonts/VT323/VT323-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: pixelated;
}

@font-face {
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: var(--background-color1);
}


body {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 1vh;
    width: max(90vw, 1200px);
    // background-color: var(--background-color2);
    color: var(--text-color);
    font-family: 'Comfortaa', sans-serif;
    // border: 7px solid var(--accent-green);
    border-radius: 5px;
    overflow-x: hidden;
}

p {
    text-align: center;
    padding: inherit 7vw;
    margin: inherit 1vw;
}

header {
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, var(--background-color1), var(--accent-green));
    opacity: 90%;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

#header-mobile-extendbutton {
    display: none;
}

.specialfont {
    font-family: VT323, sans-serif;
    text-align: left;
    font-weight: normal;
}

h1.specialfont {
    font-size: 4em;
    color: var(--accent-lime);
    text-align: center;
}

h2.specialfont {
    font-size: 3em;
    color: var(--accent-lime);
    text-align: center;
}

h3.specialfont {
    font-size: 2em;
    color: var(--accent-blue);
    text-align: center;
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* Adjust the margin as needed for spacing */

    .logo {
        image-rendering: pixelated;
        height: 10vh;
        margin: auto 10px;
        max-width: 17vw;
        object-fit: contain;
    }
    
    .logotext {
        max-width: 40vw;
        max-height: 6vh;
    }
}

a{
    &:not(.no-effects) {
        text-decoration: none;
        color: var(--accent-lime);
        padding: 5px;
        margin: -5px;
        border-radius: 7px;
        transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-sizing: border-box;
        display: inline-block;
        &:not(.logo-anchor) {
            &:hover{
                color: var(--background-color2);
                background-color: var(--accent-lime);
                transform: scale(1.1) !important;
            }
        }
    }
    &.no-effects{
        text-decoration: none;
        color: var(--text-color);
        display: inline-block;
    }
    &.vertical-stack {
        display: block;
        text-align: center;
    }
    &.logo-anchor{
        padding: 2vh 2vw;
        margin: 1vw;
        &:hover{
            background-color: transparent;
            transform: scale(1.05);
        }
    }
}

.h1-desc {
    margin-top: -1em;
    color: var(--accent-lime);
    font-family: VT323, sans-serif;
    font-size: min(1.5em, 5vw);
    text-align: center;
    color: var(--accent-lime);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: center;
}

ul.resume{
    list-style: none;
    padding: 0;
    border-top: 3px solid var(--accent-green);
    &:not(:last-of-type){
        border-bottom: 3px solid var(--accent-green);
    }
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 20px;
        align-items: center;
        &:nth-of-type(odd){
            background-color: var(--background-color1);
        }
    }
}

.vertical-stack-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    .vertical-stack {
        text-align: right;
    }
    .vertical-stack.left {
        text-align: left;
    }
}

.welcome-parent{
    width: auto;
    height: 90vh;
    .scrolldown-holder {
        position: absolute;
        bottom: 5vh;
        width: max(90vw, 1200px);
        margin-bottom: 0;
    }
}

.welcome {
    /* move to the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    /* move every child to the center */
    transform: translate(-50%, -50%);

}

.im-addram {
    text-align: center;
    font-size: 4em;
    color: var(--accent-lime);
    display: block;
    margin: 0 auto;
    font-size: min(4em, 8vw);
    &.big {
        font-size: min(15vw, 8em);
        background: linear-gradient(45deg, var(--accent-blue), var(--accent-lime));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        max-width: 100%;
        margin-top: -0.2em;
    }
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.empty-space {
    height: 20vh;
}

.divanchor {
    display: inline-block;
    margin: 20px;
}

// projects start
/*
.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 20vw;
    height: 33vw;
    border: 5px solid var(--accent-green);
    border-radius: 5px;
    background-color: var(--background-color1);
    transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), border-color 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &.cert {
        width: 60vw;
        height: fit-content;
        .projectimg-container {
            width: 100%;
            height: auto;
            aspect-ratio: 1932 / 1253;
        }
    }
    .projectimg-container {
        aspect-ratio: 1/1;
        width: 20vw;
        height: 20vw;
        margin: 0;
        padding: 0;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
    .projectname-container {
        height: 6vw;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .projectname {
            text-align: center;
            font-size: 3rem;
            color: var(--accent-lime);
            transition: color;
            font-size: 2.5vw;
        }
    }
    .project-desc-container {
        height: 7vw;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .project-desc {
            font-size: 1vw;
            margin: 5% 5%;
            text-align: center;
        }
    }
    &:hover {
        transform: scale(1.05);
        border-color: var(--accent-blue);
        cursor: pointer;
    }
}
*/
// projects end

nav {
    display: block;
    text-align: center;
    flex-wrap: wrap;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        
    }
    a.navbar {
        display: block;
        padding: 2vh 2vw;
        margin: 1vw;
        cursor: pointer;
    }
}


.contactsm {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.contactitem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
    margin: 0 5vw;
    border: 3px solid var(--accent-green);
    border-bottom: none;
    &:nth-of-type(odd) {
        background-color: var(--background-color1);
    }
    &:last-of-type {
        border-bottom: 3px solid var(--accent-green);
    }
}

.pixelated {
    image-rendering: pixelated;
}

.blue-bigger-hovereffect {
    /* add color and transform transition */
    transition: color 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
        color: var(--accent-blue);
        transform: scale(1.05);
        cursor: default;
    }
}

.totransition {
    /* margin-top:40px; */
    -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
    transform: translateY(50px) rotate(-5deg) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
}

.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}

.scrolldown-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 0;
    .scrolldown-arrow {
        background-color: transparent;
        border: none;
        font-size: 10vh;
        color: var(--accent-lime);
        transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), color 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
            color: var(--accent-blue);
            transform: scale(1.4) !important;
            cursor: pointer;
        }
    }
}

/* discord embed */

.discord-banner {
    border-radius: 20px;
    width: 25%;
    aspect-ratio: 2/3;
    height: auto;
    margin: 3vh auto;
    background-color: var(--dc-bg-light);
    overflow: hidden;
    position: relative;
    color: var(--dc-white);

    .discord-background {
        width: 100%;
        height: 40%;
        border-bottom: 3px solid var(--dc-bg-light);
        position: absolute;
        overflow: hidden;
        img {
            object-fit: cover;
            filter: blur(2px) grayscale(30%);
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            position: absolute;
            top: -5px;
            left: -5px;
        }
    }
    .discord-icon {
        z-index: 3;
        width: 30%;
        aspect-ratio: 1/1;
        height: auto;
        border: 5px solid var(--dc-bg-dark);
        border-radius: 20px;
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        top: 30%;
        left: 7%;
        img {
            width: 103%;
            height: 103%;
            object-fit: cover;
            padding: 0;
            z-index: 2;
        }
    }
    .official-discord {
        width: 40%;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .discord-lowerbody {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 50%;
        .discord-title {
            font-weight: bold;
            font-size: 2em;
            margin: 7%;
            margin-top: 4%;
            text-align: left;
        }
        .discord-description {
            font-size: 1.2em;
            margin: 7%;
            margin-top: 4%;
            height: 30%;
            text-align: left;
        }
        .join-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .join-button {
                border-radius: 20px;
                background-color: var(--dc-green);
                padding: 5% 10%;
                color: var(--dc-white);
                text-decoration: none;
                font-weight: bold;
                font-size: 1.3em;
                transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                box-sizing: border-box;
                &:hover {
                    transform: scale(1.1) !important;
                    outline: 3px solid var(--dc-white);
                    background-color: var(--dc-green-darker);
                }
                &:active {
                    transform: scale(1) !important;
                    background-color: var(--dc-green);
                }                
            }            
        }
    }
}

.discord-parent {
    margin-top: 15vh;
}

#tabs-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .tab-content{
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        .tab-title{
            display: none;
        }
        // display: none;
        position: absolute;
        &.left{
            transform: translateX(-200%);
        }
        &.right{
            transform: translateX(200%);
        }
        &.active{
            transform: translateX(0);
        }
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
    }
}

#tab-switchers{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    margin: 0 2vw;
    margin-bottom: -2vh;
    height: 7vh;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .tab-switcher{
        background-color: transparent;
        outline: none;
        border: 1vh solid var(--accent-green);
        border-bottom: none;

        border-radius: 1vh 1vh 0 0;

        color: var(--text-color);
        font-size: 3vh;
        font-family: 'VT323', sans-serif;

        width: calc(4vw + 5em);
        height: 5vh;

        transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        cursor: pointer;
        &:hover{
            background-color: var(--accent-blue);
            color: var(--background-color2);
            height: 5.5vh;
            font-size: 3.3vh;
        }
        &.tab-active{
            background-color: var(--accent-lime);
            color: var(--background-color2);
            height: 7vh;
            font-size: 4vh;
        }
    }
}

.project{
    width: 25%;
    margin: 2vh;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .img-container{
        width: 100%;
        aspect-ratio: 1/1;
        box-shadow: 0px 0px 10px 1px var(--text-color);
        transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        overflow: hidden;
        border-radius: 10%;
    }
    .title{
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        margin-top: 1vh;
        margin-bottom: 0.5vh;
        transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    padding: 2vh;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover{
        .img-container{
            transform: translateY(-5%);
            border-radius: 5%;
            box-shadow: 5px 5px 10px 1px var(--text-color);
        }
        .title{
            transform: translateY(-5%) scale(1.1);
            color: var(--accent-blue);
        }
    }
}

#popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    // visibility: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &.active{
        opacity: 1;
        visibility: visible;
        z-index: 10;
        .project-holder{
            transform: scale(1);
        }
    }
    #popup-close-button{
        position: absolute;
        top: 10vh;
        right: 10vw;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 5vh;
        fill: var(--text-color);
        transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover{
            fill: var(--accent-blue);
            transform: scale(1.2);
        }
        &:active{
            transform: scale(1);
        }
        width: 5vh;
        height: 5vh;
        svg{
            width: 100%;
            height: 100%;
        
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .project-holder{
        width: 70%;
        height: 70%;
        transform: scale(0);
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.1);

        background-color: var(--background-color1);
        border-radius: 7vh;
        box-shadow: 0px 0px 20px 2px var(--text-color);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .img-holder{
            margin: 7vh;
            // 80% of 70vh
            height: 56vh;
            width: 56vh;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 10%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info{
            margin: 7vh;
            height: 80%;
            width: calc(70vw - 56vh - 21vh);
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            text-align: left;
            .title{
                font-family: 'VT323', sans-serif;
                text-align: left;
                font-size: 7vh;
                padding: 0;
                margin: 0;
                margin-bottom: 3vh;
                color: var(--accent-lime);
            }
            
            .description{
                text-align: left;
                font-size: 2vh;
                padding: 0;
                margin: 0;
                color: var(--text-color);
                flex-grow: 1;
            }
            .link-holder{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                // anchor that looks like a button
                a {
                    text-decoration: none;
                    color: var(--text-color);
                    padding: 1vh;
                    margin: 1vh;
                    border-radius: 7px;
                    // transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    box-sizing: border-box;
                    display: inline-block;
                    background-color: var(--background-color1);
                    border: 3px solid var(--accent-green);
                    position: relative; /* Establish a positioning context */
                    overflow: hidden; /* Hide the overflow to reveal text coming from below */
                    
                    width: 14vh;
                    height: 7vh;

                    .link-icon {
                        height: 100%;
                        fill: var(--text-color);
                        transform: translateX(-30%);
                        transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                
                    .link-text {
                        padding: 0;
                        margin: 0;
                        font-size: 2vh;
                        position: absolute;
                        top: 0; /* Initially set it to the top */
                        transition: transform 0.3s ease; /* Apply a transition for the text */
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        height: 100%;
                    }
                
                    .link-text.new {
                        top: 100%; /* Position the new text below the original text */
                    }
                
                    &:hover {
                        color: var(--background-color2);
                        background-color: var(--accent-lime);
                        transform: scale(1.1) !important;
                
                        .link-icon {
                            fill: var(--background-color2);
                            transform: translateX(0%);
                        }
                
                        .link-text {
                            transform: translateY(-100%); /* Move the original text up on hover */
                        }
                
                        .link-text.new {
                            top: 100%; /* Move the new text to the original position */
                            transform: translateY(-100%); /* Move it up on hover */
                            color: var(--background-color2);
                        }
                    }
                }
                
            }
        }
    }
}

.seperator-bar{
    width: 100%;
    height: 5px;
    background-color: var(--accent-green);
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.bias-light {
    box-shadow: 0px 0px 10px 1px var(--text-color);
}

#darkmode {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode-icon {
    /* set color to --accent-lime (#7FFF00) */
    filter: invert(69%) sepia(87%) saturate(815%) hue-rotate(40deg) brightness(108%) contrast(109%);
}

a:hover .dark-mode-icon {
    /* remove all filters to make color black */
    filter: none;
}

.mode-icon-disabled {
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: rotate(180deg);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.mode-icon-enabled {
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: none;
    opacity: 1;
}

.header-start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

@media all and (min-width: 1200px) {
    a:active:not(.no-effects) {
        color: var(--background-color2);
        transform: scale(0.95) !important;
    }

    // .project:active {
    //     transform: scale(0.95) !important;
    // }
}

@media all and (max-width: 1200px) {
    #popup{
        #popup-close-button{
            top: 5vh;
            right: 5vw;
            width: 5vh;
            height: 5vh;
            svg{
                width: 100%;
                height: 100%;
            
            }
        }
        .project-holder{
            width: 85%;
            height: 80%;
            flex-direction: column;
            .img-holder {
                margin: 5vh;
                width: calc(100% - 10vh); /* Adjust the width relative to the margins */
                max-width: 56vh; /* Set a maximum width */
                height: auto; /* Allow height to adjust based on content */
                max-height: calc(100vh - 40vh); /* Calculate maximum height to respect margins and container height */
                aspect-ratio: 1/1; /* Maintain aspect ratio */
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain; /* Change object-fit to contain */
                    border-radius: 10%;
                }
            }
            
            .info{
                height: fit-content;
                width: 90%;
                // 2vh vertical 5vh horizontal
                margin: 2vh 5vh;
                margin-bottom: auto;
                flex: 1;
                align-items: center;
                .title{
                    text-align: center;
                    font-size: 5vh;
                }
                .link-holder{
                    margin-top: auto;
                    margin-bottom: 2vh;
                    // make this at the bottom of the entire project-holder container
                    justify-content: center;
                    align-self: flex-end;
                }
            }
        }
    }

    header {
        height: min(20vh, 120px);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    body {
        width: 100vw;
        border: none;
        margin-top: min(20vh, 120px);
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        box-sizing: content-box;
    }

    p {
        padding: 1vw;
    }

    .logo-container {
        margin-top: 2vh;
        margin-bottom: -3vh;
        justify-content: flex-start;
        margin-left: 0;
        .logo-anchor {
            margin-right: auto !important;
        }
    
        .logotext {
            width: auto;
            height: 8vh;
        }
    }

    nav {
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 3vh;
        margin-top: -3vh;
        li {
            margin: 0;
            padding: 0;
            font-size: 0.9em;
        }
        a {
            padding: -2px 25px;
            margin: 0;
        }
    }


    #tabs-container{
        .tab-content{
            width: 100%;
        }
    }

    .project{
        width: 40%;
        margin: 0;
        .title{
            font-size: 1.2em;
        }
    }
    
    
    .divanchor {
        margin: 0;
        margin-bottom: 10vh;
    }

    .discord-banner {
        width: 65%;
        margin-top: 20vh;
        margin-bottom: 3vh;
        .discord-lowerbody{
            .discord-title {
                font-size: 1.5em;
            }
            .discord-description {
                font-size: 1em;
            }
        }
    }

    .welcome-parent {
        height: 80vh;
    }

    .dark-mode-icon {
        /* set color to white */
        filter: invert(100%);
    }
}